<p-panel header="Log Templates">
    <p-table
        #dt
        styleClass="p-datatable-striped"
        dataKey="id"
        [rowHover]="true"
        [columns]="cols"
        [value]="logTemplates$ | async"
        [loading]="logTemplatesLoading$ | async">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap table-header justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                </span>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-outlined p-button-rounded p-button-success" (click)="displayNewLogTemplateDialog = true"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">{{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-logtemplate>
            <tr [routerLink]="[logtemplate.id]" style="cursor: pointer;">
                <td>{{ logtemplate.title }}</td>
                <td>{{ logtemplate.desc }}</td>
                <td>{{ logtemplate.revision | date : 'medium' }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td class="text-center" [attr.colspan]="cols.length">
                    No Log Templates found.
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<p-dialog header="Add new Log Template" [maximizable]="true" [(visible)]="displayNewLogTemplateDialog" [modal]="true" >
    <form [formGroup]="createLogTemplateForm">
        <span class="p-float-label field">
            <input formControlName="title" pInputText type="text" class="inputfield w-full"> 
            <label for="float-input">Title</label>
        </span>
        <span class="p-float-label field">
            <input formControlName="desc" pInputText type="text" class="inputfield w-full"> 
            <label for="float-input">Description</label>
        </span>
    </form>
    
    <ng-template pTemplate="footer">
        <form [formGroup]="createLogTemplateForm" (ngSubmit)="submitLogTemplate()">
            <button pButton  pRipple  type="submit" [disabled]="createLogTemplateForm.invalid" icon="pi pi-plus" label="Add" class="p-button-success p-button-text"></button>
        </form>
    </ng-template>
</p-dialog>
