<p-dialog i18n-header="Dialog headline@@ImportDialogComponent:header" #scanDialog header="Import configuration" (onShow)="showDialogMaximized(scanDialog, true)" [resizable]="false" [maximizable]="!isPWA()" [visible]="visible" (visibleChange)="close()" [modal]="true" [closeOnEscape]="true">
    <span i18n="Dialog description@@ImportDialogComponent:description" class="flex justify-content-center text-center font-light pb-3">
        Please choose between the two options "File Upload" and "QR code" to import a configuration.
    </span>
    <form [formGroup]="form">
        <div class="grid">
            <p-selectButton class="col-12" [options]="importOptions" formControlName="importOption"></p-selectButton>
            <div class="col-12 pb-0" *ngIf="!form.value.importOption">
                <p-fileUpload #fileUpload chooseIcon="fas fa-file-import" [customUpload]="true" [auto]="true" i18n-chooseLabel="JSON uploud button@@ImportDialogComponent:jsonUpload" chooseLabel="Upload File" accept=".json" (uploadHandler)="uploadFiles($event)">
                    <ng-template pTemplate="content">
                        <i class="pi pi-download"></i>
                    </ng-template>
                </p-fileUpload>
            </div>
            <p-dropdown
                i18n-placeholder="Dropdown placeholder no items@@ImportDialogComponent:dropdownPlaceholder" 
                *ngIf="form.value.importOption"
                class="col-12"
                formControlName="deviceCurrent"
                [options]="availableDevices"
                (onChange)="deviceChange($event)"
                placeholder="Loading cameras ...">
            </p-dropdown>
            <div class="col-12 pb-0 relative" *ngIf="form.value.importOption">
                <zxing-scanner
                    #scanner
                    class="p-2 align-content-center text-center"
                    [enable]="visible && form.value.importOption && hasDevices"
                    [formats]="formats"
                    [device]="form.value.deviceCurrent"
                    (autostarted)="restoreLastDevice()"
                    (deviceChange)="setDevice()"
                    (camerasFound)="camerasFound($event)"
                    (scanSuccess)="patch($event)"
                    (scanError)="raiseError()">
                </zxing-scanner>
                <p-progressSpinner class="absolute bottom-0 left-0 right-0 top-0 align-content-center"></p-progressSpinner>
            </div>
        </div>
    </form>
</p-dialog>