:host ::ng-deep {
    .fixed .p-menubar {
        border-radius: 0;
        border: 0;
        padding: 0.5rem 1rem;
        .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
            padding: 0.75rem;
        }
    }
}

router-outlet {
    margin-top: 4.25rem;
}

p-blockUI {
    z-index: 9999;
}