<p-blockUI [blocked]="downloading$ | async">
  <div class="flex flex-column align-items-center">
    <p-progressSpinner></p-progressSpinner>
    <span
      i18n="Generating download message@@AppComponent:generatingDownload"
      class="text-white text-center fadein animation-ease-in-out animation-duration-2000 animation-iteration-infinite ">
      Please wait (generating download file)
    </span>
  </div>
</p-blockUI>

<p-menubar class="fixed w-full top-0 left-0 z-5" [model]="navitems">
  <ng-template pTemplate="start">
    <button pButton pRipple type="button" icon="pi pi-chevron-left" [disabled]="!this.navigating && navigations <= 0" class="p-button-rounded p-button-primary mr-1 w-2rem h-2rem" iconPos="right" (click)="navigateBack()"></button>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center">
      <span class="cursor-pointer" routerLink="logs" routerLinkActive #logsLink="routerLinkActive">
        <p-tag *ngIf="logsLink.isActive" styleClass="mr-2" severity="success" [value]="navitems[0].label" [rounded]="true"></p-tag>
      </span>
      <span class="cursor-pointer" routerLink="templates" routerLinkActive #templatesLink="routerLinkActive">
        <p-tag *ngIf="templatesLink.isActive" styleClass="mr-2" severity="warning" [value]="navitems[1].label" [rounded]="true"></p-tag>
      </span>
      <span class="cursor-pointer" routerLink="info" routerLinkActive #infoLink="routerLinkActive">
        <p-tag *ngIf="infoLink.isActive" styleClass="mr-2" severity="primary" [value]="navitems[2].label" [rounded]="true"></p-tag>
      </span>
      <span class="cursor-pointer" routerLink="settings" routerLinkActive #settingsLink="routerLinkActive">
        <p-tag *ngIf="settingsLink.isActive" styleClass="mr-2" severity="info" [value]="navitems[3].label" [rounded]="true"></p-tag>
      </span>
      <a routerLink="/">
        <img src="assets/icons/icon-512x512.png" height="40" class="p-mr-2">
      </a>
    </div>
  </ng-template>
</p-menubar>
<router-outlet *ngrxLet="theme$"></router-outlet>
<ng-container *ngrxLet="templates$ as templates">
  <el-export-templates-dialog [(visible)]="displayExportTemplatesDialog" [templates]="templates"></el-export-templates-dialog>
  <el-export-logs-dialog [(visible)]="displayExportLogsDialog" [logs]="logs$ | async" [templates]="templates"></el-export-logs-dialog>
  <el-import-dialog [(visible)]="displayImportDialog"></el-import-dialog>
</ng-container>
<p-toast position="bottom-center"></p-toast>