<div *ngrxLet="template$ as template" class="grid">
    <ng-container *ngrxLet="records$ as records">
        <p-panel *ngrxLet="log$ as log" class="col-12">
            <ng-template pTemplate="header">
                <div class="grid m-0 w-full">
                    <div *ngIf="template" class="col-12 p-panel-title p-0 mb-4">
                        <span class="text-overflow-anywhere">{{ template.title }}</span>
                        <ng-container *ngIf="!!template.desc?.length">
                            <span class="text-overflow-anywhere font-light text-500">&nbsp;({{ template.desc }})</span>
                        </ng-container>
                    </div>
                    <div class="grid col-12 sm:col p-0 pb-1 m-0 sm:mr-3">
                        <div class="p-inputgroup col-12 pt-0 pl-0 pr-0">
                            <span class="p-inputgroup-addon">Title</span>
                            <input type="text" pInputText [disabled]="true" [value]="log.title" />
                        </div>
                        <div class="p-inputgroup col-12 pb-0 pl-0 pr-0">
                            <span class="p-inputgroup-addon">Description</span>
                            <input type="text" pInputText [disabled]="true" [value]="log.desc || 'no description set'" />
                        </div>
                    </div>
                    <div class="col-12 sm:col-fixed flex sm:flex-column flex-row justify-content-center sm:justify-content-between p-0 mt-3 sm:mt-0">
                        <button pButton pRipple icon="fas fa-edit" class="p-button-outlined p-button-rounded p-button-warning mr-2 sm:mr-0" iconPos="right" (click)="displayUpdateLogDialog = true"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-outlined p-button-rounded p-button-danger sm:mb-1" iconPos="right" (click)="displayDeleteLogDialog = true"></button>
                    </div>
                </div>
            </ng-template>
            <div *ngIf="template" class="flex flex-wrap justify-content-center">
                <button pButton pRipple *ngIf="!records?.length" [icon]="PrimeIcons.PLAY" class="p-button-outlined p-button-rounded p-button-success m-2 w-full md:w-13rem" iconPos="right" label="Start logging" [routerLink]="['record']"></button>
                <button pButton pRipple *ngIf="!!records?.length" [icon]="PrimeIcons.FORWARD" class="p-button-outlined p-button-rounded p-button-success m-2 w-full md:w-13rem" iconPos="right" label="Resume logging" [routerLink]="['record']"></button>
                <ng-container *ngrxLet="seperator$ as seperator">
                    <button pButton pRipple *ngIf="!!records?.length" icon="pi pi-share-alt" class="p-button-outlined p-button-rounded p-button-info m-2 w-full md:w-13rem" iconPos="right" label="Share records" (click)="shareRecords(records, log, seperator)"></button>
                </ng-container>
                <button pButton pRipple *ngIf="!!records?.length" icon="pi pi-trash" class="p-button-outlined p-button-rounded p-button-danger m-2 w-full md:w-13rem" iconPos="right" label="Clear records" (click)="displayDeleteRecordsDialog = true"></button>
            </div>
            <span *ngIf="!template" class="p-error flex text-center justify-content-center font-light">
                This log is based on an unknown template. Please import the corresponding template first.
            </span>
        </p-panel>
        <p-panel *ngIf="template" class="col-12" header="Event Records">
            <el-records [records]="records" [template]="template" [showDataColumn]="true" breakpoint="550px" styleClass="p-datatable-striped"></el-records>
        </p-panel> 
    </ng-container>
</div>
<el-update-log-dialog [(visible)]="displayUpdateLogDialog"></el-update-log-dialog>
<el-delete-log-dialog [(visible)]="displayDeleteLogDialog"></el-delete-log-dialog>
<el-delete-records-dialog [(visible)]="displayDeleteRecordsDialog"></el-delete-records-dialog>