:host ::ng-deep {
    .p-datatable-header {
        border: none;
        padding: 0 !important;
        .p-input-icon-left {
            margin-bottom: 1rem;
        }
        button {
            margin-bottom: 1rem;
        }
    }
    
    p-dialog {
        .p-dialog-content {
            padding-top: 0.25rem;
        }

        .p-float-label {
            margin-top: 1.5rem;
        }
    }
}