:host ::ng-deep {
    .el-record-event-button.p-button {
        border-color: transparent;
        padding: 0.5rem 0.75rem;
        span {
            word-wrap: break-word;
            overflow-wrap: anywhere;
            word-wrap: anywhere;
        }
        .p-button-icon-left {
            font-size: 1.5rem;
            margin-right: 0;
        }
        .p-button-label {
            font-weight: unset;
            font-size: 0.8rem;
        }
    }

    .p-0 .p-panel-content,.p-accordion-content {
        padding: 0;
    }

    .py-2 .p-panel-content,.p-accordion-content {
        padding: 0.5rem 0 0.5rem 0;
    }
}

.el-record-event-button {
    display: inline-grid;
    width: 7rem;
    min-height: 6.25rem;
}