<ng-container *ngrxLet="log$ as log">
    <ng-container *ngIf="template$ | async as template">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="grid m-0 w-full">
                    <div class="col-8 md:col-5 font-light text-500 p-0">
                        <span>{{ log.title }}</span>
                        <ng-container *ngIf="!!log.desc?.length">
                            <span>&nbsp;({{ log.desc }})</span>
                        </ng-container>
                    </div>
                    <div class="col-4 md:col-2 p-0 text-right md:text-center font-light">
                        <span class="el-font-monospace">{{ absTime$ | async | date: 'HH:mm:ss' }}</span>
                    </div>
                    <div class="hidden md:block md:col-5 font-light text-500 p-0 text-right">
                        <span>{{ template.title }}</span>
                        <ng-container *ngIf="!!template.desc?.length">
                            <span>&nbsp;({{ template.desc }})</span>
                        </ng-container>
                    </div>
                    <ng-container *ngrxLet="(template | logEventTemplates) as logEventTemplate">
                        <div *ngIf="logEventTemplate.containStart" class="col-12 p-0 text-center pt-2">
                            <span class="font-light text-3xl el-font-monospace" *ngIf="relDays$ | async as relDays">{{ relDays }}d&nbsp;</span>
                            <span class="font-light text-3xl el-font-monospace">{{ relTime$ | async | date: 'HH:mm:ss.SSS': 'UTC+0' }}</span>
                        </div>
                        <div *ngIf="timeDiff$ | async as diff" class="col-12 p-0 text-center pt-1">
                            <span *ngIf="diff.days" class="el-font-monospace" [ngClass]="{'font-light text-3xl': !logEventTemplate.containStart}">{{ diff.days }}d&nbsp;</span>
                            <span class="el-font-monospace" [ngClass]="{'font-light text-3xl': !logEventTemplate.containStart}">{{ diff.time | date: 'HH:mm:ss.SSS': 'UTC+0' }}</span>
                        </div>
                    </ng-container>
                </div>
            </ng-template>
            <div class="grid" *ngrxLet="records$ as records">
                <p-panel i18n-header="Page headline@@RecordComponent:header" header="Record Event" class="col-12 lg:col-5 text-center py-2">
                    <ng-container *ngFor="let eventTemplate of template.eventTemplates">
                        <button pButton pRipple
                            class="{{ eventTemplate.color | colorClass }} p-button-rounded m-2 el-record-event-button"
                            [icon]="eventTemplate.icon.value !== PrimeIcons.CODE && eventTemplate.icon.value"
                            [label]="eventTemplate.name"
                            [disabled]="eventTemplate | eventButtonDisabled: records"
                            (click)="raiseEvent(eventTemplate, log.id)">
                        </button>
                    </ng-container>
                    <span i18n="Error message@@RecordComponent:error" *ngIf="!template.eventTemplates?.length">No configured events found. Please add some events to your template first.</span>
                </p-panel>
                <p-accordion class="col-12 lg:hidden">
                    <p-accordionTab i18n-header="Table container headline@@RecordComponent:tableContainerHeadline" header="Recorded Events" [selected]="false" styleClass="p-0">
                        <el-records [records]="records" [template]="template" [showDataColumn]="false" [showRevokeButton]="true" breakpoint="550px" styleClass="p-datatable-striped p-datatable-sm"></el-records>
                    </p-accordionTab>
                </p-accordion>
                <p-panel i18n-header="Table headline@@RecordComponent:tableHeadline" header="Recorded Events" class="hidden col-7 lg:block" styleClass="p-0">
                    <el-records [records]="records" [template]="template" [showDataColumn]="false" [showRevokeButton]="true" styleClass="p-datatable-striped p-datatable-sm"></el-records>
                </p-panel>
            </div>
        </p-panel>
    </ng-container>
    <el-text-record-dialog [(visible)]="displayTextRecordDialog" [textEventTemplate]="eventTemplate" [logId]="log.id" [timestamp]="timestamp"></el-text-record-dialog>
    <el-photo-record-dialog [(visible)]="displayPhotoRecordDialog" [photoEventTemplate]="eventTemplate" [logId]="log.id"></el-photo-record-dialog>
    <el-audio-record-dialog [(visible)]="displayAudioRecordDialog" [audioEventTemplate]="eventTemplate" [logId]="log.id"></el-audio-record-dialog>
</ng-container>