<p-dialog i18n-header="Dialog headline@@ExportLogsDialogComponent:header" header="Export configuration of logs" [resizable]="false" [maximizable]="true" [visible]="visible" (visibleChange)="close()" [modal]="true" [closeOnEscape]="true">
    <span i18n="Dialog description@@ExportLogsDialogComponent:description" class="flex text-center font-light">
        Please select all logs you want to export as json file or QR code. These can be imported again at any time or by another device. Only the configuration data and no records are exported.
    </span>
    <p-table
        styleClass="p-datatable-striped mt-3"
        breakpoint="{{breakpoint}}px"
        selectionMode="multiple"
        (selectionChange)="this.form.patchValue({ logs: $event })"
        [selection]="form.value.logs"
        [rowHover]="true"
        [columns]="cols"
        [value]="logs">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="w-3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [class]="col.class">{{ col.header }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-log>
            <tr [pSelectableRow]="log">
                <td>
                    <p-tableCheckbox [pSelectableRow]="log" [value]="log"></p-tableCheckbox>
                </td>
                <td>{{ log.title }}</td>
                <td>{{ log.desc }}</td>
                <td class="flex-wrap">
                    <span class="text-overflow-anywhere">{{ log.templateId | templateTitle: templates }}</span>
                    <ng-container *ngIf="log.templateId | templateDesc: templates as desc">
                        <span class="text-overflow-anywhere font-light text-500">&nbsp;({{ desc }})&nbsp;</span>
                    </ng-container>
                </td>
                <td class="text-center">{{ log.recordsCount }}</td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="form.errors?.[isQRcodeCompatibleError]" class="w-full mt-2 px-2 text-center">
        <span i18n="Error message@@ExportLogsDialogComponent:error" class="p-error text-xs">
            The total size of selected data exceeds the maximum size allowed for a QR code. Please reduce your selection or use the file download.
        </span>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex flex-wrap flex-row-reverse">
            <form [formGroup]="form" (ngSubmit)="download()">
                <button pButton pRipple type="submit" [disabled]="form.get('logs').invalid" icon="fas fa-file-download" i18n-label="QR code download button@@ExportLogsDialogComponent:qrDownload" label="Download JSON" class="p-button-info p-button-text"></button>
            </form>
            <button pButton pRipple [disabled]="form.invalid" icon="fas fa-qrcode" i18n-label="JSON download button@@ExportLogsDialogComponent:jsonDownload" label="Show QR code" class="p-button-info p-button-text" (click)="displayQRcodeDialog = true"></button>
        </div>
    </ng-template>
</p-dialog>
<el-qrcode-dialog i18n-header="QR Code Dialog header@@ExportLogsDialogComponent:headerQRDialog" header="Logs Configuration (QR code)" [(visible)]="displayQRcodeDialog" [data]="form.value.logs" type="logs" filename="logs"></el-qrcode-dialog>