<p-dialog *ngrxLet="template$ as template" header="Delete Template" styleClass="w-full sm:w-30rem" [resizable]="false" [maximizable]="true" [visible]="eventTemplate" (visibleChange)="close()" [modal]="true" [closeOnEscape]="true">
    Are you sure you want to delete this event template?
    <p class="mb-0 font-light">
        If you decide to do so this EventTemplate will no longer be available for future logging. Existing log entries remain unaffected.
    </p>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-trash" label="Delete" class="p-button-danger p-button-text" (click)="delete(template)"></button>
    </ng-template>
</p-dialog>