<p-dialog i18n-header="Dialog headline@@DeleteRecordsDialogComponent:header" *ngIf="log$ | async as log" header="Clear Records" styleClass="w-full sm:w-30rem" [resizable]="false" [maximizable]="true" [visible]="visible" (visibleChange)="close()" [modal]="true" [closeOnEscape]="true">
    <ng-container i18n="Dialog question@@DeleteRecordsDialogComponent:question">
        Are you sure you want to delete all event records of this log?
    </ng-container>
    <form [formGroup]="form">
        <br>
        <hr>
        <p class="mb-0 font-light">
            <span i18n="Hint 1/2@@DeleteRecordsDialogComponent:hint1">Please enter the title</span> 
            <span>&nbsp;(</span>
            <span class="p-error">{{ log.title }}</span>
            <span>)&nbsp;</span>
            <span i18n="Hint 2/2@@DeleteRecordsDialogComponent:hint2">of the log to confirm the deletion of all records.</span> 
        </p>
        <span class="p-float-label mt-5 field">
            <input formControlName="title" pInputText type="text" class="inputfield w-full"> 
            <label i18n="Hint input label@@DeleteRecordsDialogComponent:hintLabel" for="float-input">Delete command</label>
        </span>
    </form>
    <ng-template pTemplate="footer">
        <form [formGroup]="form" (ngSubmit)="delete(log.id)">
            <button pButton pRipple type="submit" [disabled]="form.invalid" icon="pi pi-trash" i18n-label="Delete button@@DeleteRecordsDialogComponent:deleteButton" label="Delete" class="p-button-danger p-button-text"></button>
        </form>
    </ng-template>
</p-dialog>