<p-dialog header="Export configuration of log templates" [resizable]="false" [maximizable]="true" [visible]="visible" (visibleChange)="close()" [modal]="true" [closeOnEscape]="true">
    <span class="flex text-center font-light">
        Please select all log templates you want to export as json file or QR code. These can be imported again at any time or by another device. Only the configuration data and no records are exported.
    </span>
    <p-table
        styleClass="p-datatable-striped mt-3"
        breakpoint="{{breakpoint}}px"
        selectionMode="multiple"
        (selectionChange)="this.form.patchValue({ logTemplates: $event })"
        [selection]="form.value.logTemplates"
        [rowHover]="true"
        [columns]="cols"
        [value]="logTemplates">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="w-3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns">{{ col.header }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-logtemplate>
            <tr>
                <td>
                    <p-tableCheckbox [value]="logtemplate"></p-tableCheckbox>
                </td>
                <td>{{ logtemplate.title }}</td>
                <td>{{ logtemplate.desc }}</td>
                <td>{{ logtemplate.revision | date : 'medium' }}</td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="form.errors?.[isQRcodeCompatibleError]" class="w-full mt-2 px-2 text-center">
        <span class="p-error text-xs">
            The total size of selected data exceeds the maximum size allowed for a QR code. Please reduce your selection or use the file download.
        </span>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex flex-wrap flex-row-reverse">
            <form [formGroup]="form" (ngSubmit)="download()">
                <button pButton pRipple type="submit" [disabled]="form.get('logTemplates').invalid" icon="fas fa-file-download" label="Download JSON" class="p-button-info p-button-text"></button>
            </form>
            <button pButton pRipple [disabled]="form.invalid" icon="fas fa-qrcode" label="Show QR code" class="p-button-info p-button-text" (click)="displayQRcodeDialog = true"></button>
        </div>
    </ng-template>
</p-dialog>
<el-qrcode-dialog header="Log Template Configuration (QR code)" [(visible)]="displayQRcodeDialog" [data]="form.value.logTemplates" filename="logtemplates"></el-qrcode-dialog>