:host ::ng-deep {
    .el-icon-selector .p-selectbutton {
        text-align: center;
        @media (orientation: portrait) {
            max-width: 35rem;
        }
        @media (orientation: landscape) {
            max-width: 66rem;
        }
        .p-button {
            border-radius: 4px !important;
            border-width: 2px;
            border-style: solid;
            border-color: transparent;
            margin: 0.25em;
        }
        .p-highlight {
            border-color: var(--primary-color) !important;
        }
    }
}