<div class="grid" *ngIf="logTemplate$ | async as logTemplate">
    <p-panel class="col-12">
        <ng-template pTemplate="header">
            <div class="grid mr-2">
                <div class="p-inputgroup mb-2 mt-2">
                    <span class="p-inputgroup-addon">Title</span>
                    <input type="text" pInputText [disabled]="true" [value]="logTemplate.title" />
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Description</span>
                    <input type="text" pInputText [disabled]="true" [value]="logTemplate.desc || 'no description set'" />
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="icons">
            <button pButton icon="fas fa-edit" class="p-button-outlined p-button-rounded p-button-warning" iconPos="right" (click)="updateLogTemplate(logTemplate)"></button>
        </ng-template>
        <span class="flex text-center justify-content-center font-light">
            In this view you can customize the title and description of the log template. Furthermore you have the possibility to specify events that might occur during the logging process.
        </span>
    </p-panel>
    <p-panel class="col-12" header="Event Templates">
        <p-table
            #dt
            styleClass="p-datatable-striped"
            dataKey="name"
            [columns]="cols"
            [rowHover]="true"
            [reorderableColumns]="true"
            (onRowReorder)="onRowReorder(dt.value, logTemplate)"
            [value]="logTemplate.eventTemplates"
            [loading]="logTemplateLoading$ | async">
            <ng-template pTemplate="caption">
                <div class="flex flex-wrap table-header justify-content-between">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                    </span>
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-outlined p-button-rounded p-button-success" (click)="displayNewEventTemplateDialog = true"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:3rem"></th>
                    <th class="text-center" *ngFor="let col of cols" pReorderableColumn>
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-eventTemplate  let-index="rowIndex">
                <tr [pReorderableRow]="index">
                    <td>
                        <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                    </td>
                    <td class="text-center" >{{ eventTemplate.name }}</td>
                    <td class="text-center" >{{ eventTemplate.eventType | eventLabelPipe}}</td>
                    <td class="text-center" style="width:3rem"><i class="{{ eventTemplate.icon.value }} {{ eventTemplate.icon.styleClass }}"></i></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" [attr.colspan]="cols.length">
                        No Event Templates found.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>

    <p-dialog header="Update Log Template" [maximizable]="true" [(visible)]="displayUpdateLogTemplateDialog" [modal]="true" >
        <form [formGroup]="updateLogTemplateForm">
            <span class="p-float-label field">
                <input formControlName="title" pInputText type="text" class="inputfield w-full"> 
                <label for="float-input">Title</label>
            </span>
            <span class="p-float-label field">
                <input formControlName="desc" pInputText type="text" class="inputfield w-full"> 
                <label for="float-input">Description</label>
            </span>
        </form>
        
        <ng-template pTemplate="footer">
            <form [formGroup]="updateLogTemplateForm" (ngSubmit)="submitLogTemplate(logTemplate)">
                <button pButton pRipple type="submit" [disabled]="updateLogTemplateForm.invalid" icon="pi pi-check" label="Update" class="p-button-success  p-button-text"></button>
            </form>
        </ng-template>
    </p-dialog>
    
    <p-dialog header="Add Event Template" [maximizable]="true" [(visible)]="displayNewEventTemplateDialog" [modal]="true" >
        <form [formGroup]="createEventTemplateForm">
            <p-fieldset legend="Event Type">
                <p-selectButton formControlName="eventType" class="el-icon-selector flex align-items-center justify-content-center" [options]="eventTypes" (click)="setEventTemplateName()">
                    <ng-template let-eventType>
                        <div *ngIf="(eventType | eventLabelWithIconPipe) as item" class="grid w-8rem">
                            <i style="font-size: 2rem" class="col {{ item.value }} {{ item.styleClass }}"></i>
                            <span class="col-12">{{ item.label }}</span>
                        </div>
                    </ng-template>
                </p-selectButton>
            </p-fieldset>
            
            <span class="p-float-label field">
                <input formControlName="name" pInputText type="text" class="inputfield w-full"> 
                <label for="float-input">Name</label>
            </span>
    
            <p-fieldset legend="Event Icon" *ngIf="createEventTemplateForm.value.eventType === 0">
                <p-selectButton formControlName="icon" class="el-icon-selector flex align-items-center justify-content-center" [options]="eventIcons" optionLabel="icon">
                    <ng-template let-item>
                        <i class="{{ item.value }} {{ item.styleClass }}"></i>
                    </ng-template>
                </p-selectButton>
            </p-fieldset>
            
        </form>
        <ng-template pTemplate="footer">
            <form [formGroup]="createEventTemplateForm" (ngSubmit)="submitEventTemplate(logTemplate)">
                <button pButton pRipple type="submit" [disabled]="createEventTemplateForm.invalid" icon="pi pi-check" label="Add" class="p-button-success  p-button-text"></button>
            </form>
        </ng-template>
    </p-dialog>
<div>
        