<div class="grid" *ngIf="logTemplate$ | async as logTemplate">
    <p-panel class="col-12">
        <ng-template pTemplate="header">
            <div class="grid m-0 w-full pt-1">
                <div class="grid col-12 sm:col p-0 pb-1 sm:mr-3">
                    <div class="p-inputgroup col-12 pr-0">
                        <span class="p-inputgroup-addon">Title</span>
                        <input type="text" pInputText [disabled]="true" [value]="logTemplate.title" />
                    </div>
                    <div class="p-inputgroup col-12 pb-0 pr-0">
                        <span class="p-inputgroup-addon">Description</span>
                        <input type="text" pInputText [disabled]="true" [value]="logTemplate.desc || 'no description set'" />
                    </div>
                </div>
                <div class="col-12 sm:col-fixed flex sm:flex-column flex-row justify-content-center sm:justify-content-between p-0 mt-3 sm:mt-0">
                    <button pButton icon="fas fa-edit" class="p-button-outlined p-button-rounded p-button-warning mr-2 sm:mr-0" iconPos="right" (click)="displayUpdateLogTemplateDialog = true"></button>
                    <button pButton icon="pi pi-trash" class="p-button-outlined p-button-rounded p-button-danger sm:mb-1" iconPos="right" (click)="displayDeleteLogTemplateDialog = true"></button>
                </div>
            </div>
        </ng-template>
        <span class="flex text-center justify-content-center font-light">
            In this view you can customize the title and description of the log template. Furthermore you have the possibility to specify events that might occur during the logging process.
        </span>
    </p-panel>
    <p-panel class="col-12" header="Event Templates">
        <p-table
            #dt
            styleClass="p-datatable-striped"
            dataKey="name"
            [columns]="cols"
            [rowHover]="true"
            [reorderableColumns]="true"
            (onRowReorder)="onRowReorder(dt.value, logTemplate)"
            [value]="logTemplate.eventTemplates"
            [loading]="logTemplateLoading$ | async">
            <ng-template pTemplate="caption">
                <div class="flex flex-wrap table-header justify-content-between">
                    <div class="p-inputgroup w-auto mb-3">
                        <i class="p-inputgroup-addon pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                    </div>
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-outlined p-button-rounded p-button-success" (click)="showNewEventTemplateDialog()"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="w-3rem"></th>
                    <th class="text-center" *ngFor="let col of cols" pReorderableColumn>
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-eventTemplate  let-index="rowIndex">
                <tr [pReorderableRow]="index" [class]="eventTemplate.color | colorClass">
                    <td>
                        <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                    </td>
                    <td class="text-center" >{{ eventTemplate.name }}</td>
                    <td class="text-center" >{{ eventTemplate.eventType | eventLabel}}</td>
                    <td class="text-center w-3rem"><i class="{{ eventTemplate.icon.value }} {{ eventTemplate.icon.styleClass }}"></i></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" [attr.colspan]="cols.length + 1">
                        No Event Templates found.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>

    
    <p-dialog header="Add Event Template" [maximizable]="true" [(visible)]="displayNewEventTemplateDialog" [modal]="true">
        <div *ngIf="eventTemplates$ | async as eventTemplates">
            <form [formGroup]="createEventTemplateForm">
                <div *ngIf="eventTemplates.length">
                    <p-fieldset legend="Known Event Templates">
                        <div class="grid">
                            <p-dropdown class="col-12 el-dropdown-items-p-0" [options]="eventTemplates" formControlName="selectedTemplate" [showClear]="true" (onChange)="eventTemplateChanged($event)" (onClear)="eventTemplateCleared()" placeholder="Choose a known template ...">
                                <ng-template let-eventTemplate pTemplate="selectedItem">
                                    <div class="flex flex-wrap align-items-center pl-2 pt-2 pb-2  {{ eventTemplate.color | colorClass }}" *ngIf="createEventTemplateForm.value.selectedTemplate">
                                        <i class="pl-2 {{ eventTemplate.icon.value }} {{ eventTemplate.icon.styleClass }}"></i>
                                        <span class="pl-2 text-overflow-anywhere">{{ eventTemplate.name }}</span>
                                        <span class="pl-2 text-overflow-anywhere font-light text-500">({{ eventTemplate.eventType | eventLabel}})</span>
                                    </div>
                                </ng-template>
                                <ng-template let-eventTemplate pTemplate="item">
                                    <div class="flex flex-wrap align-items-center pl-3 pr-4 py-2 {{ eventTemplate.color | colorClass }}">
                                        <i class="pl-2 {{ eventTemplate.icon.value }} {{ eventTemplate.icon.styleClass }}"></i>
                                        <span class="pl-2 text-overflow-anywhere">{{ eventTemplate.name }}</span>
                                        <span class="pl-2 text-overflow-anywhere font-light text-500">({{ eventTemplate.eventType | eventLabel}})</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <span class="col-12 flex text-center justify-content-center font-light">
                                You can either choose an event template from the known templates or create a completely new event template.
                            </span>
                        </div>
                    </p-fieldset>
                    <br>
                </div>
                <p-fieldset legend="Event Type">
                    <p-selectButton formControlName="eventType" class="el-icon-selector flex align-items-center justify-content-center" [options]="eventTypes" (click)="setEventTemplateName()">
                        <ng-template let-eventType>
                            <div *ngIf="(eventType | eventLabelWithIcon) as item" class="grid w-7rem">
                                <i class="text-3xl mt-2 col {{ item.value }} {{ item.styleClass }}"></i>
                                <span class="col-12">{{ item.label }}</span>
                            </div>
                        </ng-template>
                    </p-selectButton>
                </p-fieldset>
                <span class="p-float-label mt-5 field">
                    <input formControlName="name" pInputText type="text" class="inputfield w-full"> 
                    <label for="float-input">Event Name</label>
                </span>
                <p-fieldset legend="Event Icon" *ngIf="createEventTemplateForm.value.eventType === 0">
                    <p-selectButton formControlName="icon" class="el-icon-selector flex align-items-center justify-content-center" [options]="eventIcons" optionLabel="icon">
                        <ng-template let-item>
                            <i class="{{ item.value }} {{ item.styleClass }}"></i>
                        </ng-template>
                    </p-selectButton>
                </p-fieldset>
                <br>
                <p-fieldset legend="Event Color">
                    <div class="flex flex-wrap justify-content-center">
                        <div pRipple *ngFor="let color of colors"
                        class="border-2 border-0 border-round m-1 p-3 cursor-pointer {{ color | colorClass }}"
                        (click)="createEventTemplateForm.value.color !== undefined && createEventTemplateForm.patchValue({ color })"
                        [ngClass]="{
                            'border-primary': color === createEventTemplateForm.getRawValue().color,
                            'pointer-events-none': createEventTemplateForm.value.color === undefined
                        }">
                    </div>
                </div>
            </p-fieldset>            
            </form>
        </div>
        <ng-template pTemplate="footer">
            <form [formGroup]="createEventTemplateForm" (ngSubmit)="submitEventTemplate(logTemplate)">
                <button pButton pRipple type="submit" [disabled]="createEventTemplateForm.invalid" icon="pi pi-check" label="Add" class="p-button-success  p-button-text"></button>
            </form>
        </ng-template>
    </p-dialog>
    
    <p-dialog header="Delete Log Template" [maximizable]="true" [(visible)]="displayDeleteLogTemplateDialog" [modal]="true">
        Are you sure you want to delete this template?
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-trash" label="Delete" class="p-button-danger p-button-text" (click)="deleteLogTemplate(logTemplate)"></button>
        </ng-template>
    </p-dialog>

<div>
        
<el-update-logtemplate-dialog [(visible)]="displayUpdateLogTemplateDialog"></el-update-logtemplate-dialog>