:host ::ng-deep {
    .el-icon-selector .p-selectbutton {
        text-align: center;
        @media (orientation: portrait) {
            max-width: 35rem;
        }
        @media (orientation: landscape) {
            max-width: 75rem;
        }
        .p-button {
            border-radius: 4px !important;
            margin: 0.25em;
        }
    }
}