:host ::ng-deep {

    p-selectbutton .p-button {
        width: 50%;
    }

    .p-dialog {
        max-width: 690px;
    }

    p-progressspinner, zxing-scanner {
        display: grid;
    }

    zxing-scanner video {
        z-index: 2;
        border-radius: 6px;
    }
    
    p-fileUpload, zxing-scanner {
        border-radius: 6px;
        background-color: var(--surface-c);
        min-height: 25rem;
        .p-fileupload-content {
            min-height: 19.5rem;
            display: grid;
            text-align: center;
            align-content: center;
            i {
                font-size: 6rem;
                color: var(--surface-c);
            }
        }
    }
}