:host ::ng-deep {
    .el-main-menu .p-menubar {
        border-radius: 0 !important;
        border: 0 !important;
    }
}

p-menubar {
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1000;
}