:host ::ng-deep {
    .p-menubar {
        border-radius: 0;
    }
}

p-menubar {
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 0 0.5rem 0.5rem var(--primary-color);
}

router-outlet {
    margin-top: 4.75rem;
}