:host ::ng-deep {
    .el-main-menu .p-menubar {
        border-radius: 0 !important;
        border: 0 !important;
        padding: 0.5rem 1rem;
        .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
            padding: 0.75rem;
        }
    }
}

p-menubar {
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1000;
}


router-outlet {
    margin-top: 4.25rem;
}