<p-menubar class="fixed w-full top-0 left-0 z-5" [model]="navitems">
  <ng-template pTemplate="end">
    <a routerLink="/">
      <img src="assets/icons/icon-512x512.png" height="40" class="p-mr-2">
    </a>
  </ng-template>
</p-menubar>
<router-outlet></router-outlet>
<ng-container *ngrxLet="logTemplates$ as logTemplates">
  <el-export-logtemplates-dialog [(visible)]="displayExportLogTemplatesDialog" [logTemplates]="logTemplates"></el-export-logtemplates-dialog>
  <el-export-logs-dialog [(visible)]="displayExportLogsDialog" [logs]="logs$ | async" [logTemplates]="logTemplates"></el-export-logs-dialog>
  <el-import-logtemplates-dialog [(visible)]="displayImportLogTemplatesDialog"></el-import-logtemplates-dialog>
  <el-import-logs-dialog [(visible)]="displayImportLogsDialog"></el-import-logs-dialog>
</ng-container>