@import '~primeng/resources/themes/mdc-dark-indigo/theme.css';

body {
    background: linear-gradient(180deg, var(--gray-400), var(--surface-a));
}

p-menubar {
    box-shadow: 0 -0.25rem 0.5rem 0.5rem var(--gray-400);
}

.p-panel .p-panel-header {
    background: var(--surface-f);
    padding: 1rem 1.25rem;
}

.el-import .p-fileupload-content {
    top: 4.5rem !important;
}