@import '~primeng/resources/themes/lara-light-teal/theme.css';

body {
    background: linear-gradient(180deg, var(--primary-color), var(--surface-b));
}

p-menubar {
    box-shadow: 0 -0.25rem 0.5rem 0.5rem var(--primary-color);
}

.p-selectbutton .p-button {
    background: var(--surface-c);
}

.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
    background: var(--surface-d);
}

.el-import .p-fileupload-content {
    top: 5.9rem !important;
}