@import '~primeng/resources/themes/bootstrap4-dark-blue/theme.css';

body {
    background: linear-gradient(180deg, var(--primary-color), var(--surface-ground));
}

p-menubar {
    box-shadow: 0 -0.25rem 0.5rem 0.5rem var(--primary-color);
}

router-outlet {
    margin-top: 4.5rem;
}