<p-panel header="Logs" *ngrxLet="logTemplates$ as logTemplates">
    <p-table
        #dt
        styleClass="p-datatable-striped"
        dataKey="id"
        [rowHover]="true"
        [reorderableColumns]="true"
        (onRowReorder)="onRowReorder(dt.value)"
        [columns]="cols"
        [value]="logs$ | async"
        [loading]="logsLoading$ | async">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap table-header sm:justify-content-between justify-content-around">
                <div class="p-inputgroup max-w-full sm:w-auto m-1">
                    <i class="p-inputgroup-addon pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event).target.value, 'contains')" placeholder="Search keyword" />
                </div>
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-outlined p-button-rounded p-button-success m-1" (click)="displayCreateLogDialog = true"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="w-3rem"></th>
                <th *ngFor="let col of columns">{{ col.header }}</th>
                <th *ngIf="!isMobileLayout" class="w-3rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-log let-index="rowIndex">
            <tr [pReorderableRow]="index" class="cursor-pointer">
                <td *ngIf="!isMobileLayout">
                    <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                </td>
                <td *ngIf="isMobileLayout" class="flex flex-wrap justify-content-between">
                    <div>
                        <button [disabled]="index === 0" pButton pRipple type="button" icon="pi pi-chevron-up" class="p-button-primary mr-2" (click)="move(index, -1, dt.value)"></button>
                        <button [disabled]="index === dt.value.length - 1" pButton pRipple type="button" icon="pi pi-chevron-down" class="p-button-primary mr-2" (click)="move(index, 1, dt.value)"></button>
                    </div>
                    <button pButton icon="pi pi-times" class="p-button-rounded p-button-danger" iconPos="right" (click)="deleteLog = log"></button>
                </td>
                <td [routerLink]="[log.id]">{{ log.title }}</td>
                <td [routerLink]="[log.id]">{{ log.desc }}</td>
                <td [routerLink]="[log.id]">{{ log.logTemplateId | logTemplateTitle: logTemplates }}</td>
                <td [routerLink]="[log.id]">{{ log.records?.length }}</td>
                <td *ngIf="!isMobileLayout" class="pr-2">
                    <button pButton icon="pi pi-times" class="p-button-rounded p-button-danger" iconPos="right" (click)="deleteLog = log"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td class="text-center" [attr.colspan]="cols.length + (isMobileLayout ? 1 : 2)">
                    No Logs found.
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
<el-create-log-dialog [(visible)]="displayCreateLogDialog"></el-create-log-dialog>
<el-delete-log-dialog [(log)]="deleteLog"></el-delete-log-dialog>