<p-dialog *ngIf="logTemplate$ | async as logTemplate" header="Update Log Template" [maximizable]="true" [visible]="visible" (visibleChange)="close()" [modal]="true" [closeOnEscape]="true">
    <form [formGroup]="updateLogTemplateForm">
        <span class="p-float-label mt-5 field">
            <input formControlName="title" pInputText type="text" class="inputfield w-full"> 
            <label for="float-input">Title</label>
        </span>
        <span class="p-float-label mt-5 field">
            <input formControlName="desc" pInputText type="text" class="inputfield w-full"> 
            <label for="float-input">Description</label>
        </span>
    </form>
    
    <ng-template pTemplate="footer">
        <form [formGroup]="updateLogTemplateForm" (ngSubmit)="submitLogTemplate(logTemplate)">
            <button pButton pRipple type="submit" [disabled]="updateLogTemplateForm.invalid" icon="pi pi-check" label="Update" class="p-button-success  p-button-text"></button>
        </form>
    </ng-template>
</p-dialog>