:host ::ng-deep {
    .el-icon-selector .p-selectbutton {
        text-align: center;
        max-width: 17em;
        .p-button {
            border-radius: 0 !important;
        }
        .p-button:last-of-type {
            border-right: 0;
        }
    }
}