
<p-dialog header="Picture Event" [resizable]="false" [maximizable]="true" [visible]="visible" (visibleChange)="close()" [modal]="true" [closeOnEscape]="true">
    <form [formGroup]="form">
        <div class="grid">
            <p-dropdown
                class="col-12"
                formControlName="deviceCurrent"
                [options]="availableDevices"
                (onChange)="deviceChange($event)"
                placeholder="Loading cameras ...">
            </p-dropdown>
            <div class="col-12 pb-0 relative">
                <div #camera id="camera" class="p-2 align-content-center text-center">
                    <video #video autoplay muted></video>
                </div>
                <p-progressSpinner class="absolute bottom-0 left-0 right-0 top-0 align-content-center"></p-progressSpinner>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer" *ngrxLet="logId$ as logId">
        <form [formGroup]="form" (ngSubmit)="submit(logId)">
            <button pButton pRipple type="submit" icon="pi pi-camera" class="p-button-rounded p-button-danger"></button>
        </form>
    </ng-template>
</p-dialog>
