<div class="grid" *ngrxLet="templateLoading$ as loading">
    <ng-container *ngrxLet="template$ as template">
        <p-panel class="col-12">
            <ng-template pTemplate="header">
                <div class="grid m-0 w-full">
                    <div class="grid col-12 sm:col p-0 pb-1 m-0 sm:mr-3">
                        <div class="p-inputgroup col-12 pt-0 pl-0 pr-0">
                            <span i18n="Title@@TemplateComponent:title" class="p-inputgroup-addon">Title</span>
                            <input type="text" pInputText [disabled]="true" [value]="template.title" />
                        </div>
                        <div class="p-inputgroup col-12 pb-0 pl-0 pr-0">
                            <span i18n="Description@@TemplateComponent:description" class="p-inputgroup-addon">Description</span>
                            <input type="text" pInputText [disabled]="true" [value]="template.desc || 'no description set'" />
                        </div>
                    </div>
                    <div class="col-12 sm:col-fixed flex sm:flex-column flex-row justify-content-center sm:justify-content-between p-0 mt-3 sm:mt-0" *ngrxLet="templateNotDeletable$ as templateNotDeletable">
                        <button pButton pRipple icon="fas fa-edit" class="p-button-outlined p-button-rounded p-button-warning mr-2 sm:mr-0" iconPos="right" (click)="displayUpdateTemplateDialog = true"></button>
                        <button
                            pButton
                            pRipple
                            [ngClass]="{'p-button-danger': !templateNotDeletable, 'p-button-secondary': templateNotDeletable}"
                            icon="pi pi-trash"
                            class="p-button-outlined p-button-rounded p-button-danger sm:mb-1"
                            iconPos="right"
                            (click)="deleteTemplate(templateNotDeletable)">
                        </button>
                    </div>
                </div>
            </ng-template>
            <span i18n="Page hint@@TemplateComponent:hint" class="flex text-center justify-content-center font-light">
                In this view you can customize the title and description of the template. Furthermore you have the possibility to specify events that might occur during the logging process.
            </span>
        </p-panel>
        <p-panel i18n-header="Table headline@@TemplateComponent:tableHeadline" class="col-12" header="Event Templates">
            <p-table
                #dt
                styleClass="p-datatable-striped"
                dataKey="name"
                breakpoint="500px"
                [columns]="cols"
                [rowHover]="true"
                [reorderableColumns]="true"
                (onRowReorder)="onRowReorder(dt.value, template)"
                [value]="template.eventTemplates"
                [loading]="loading">
                <ng-template pTemplate="caption">
                    <div class="flex flex-wrap table-header sm:justify-content-between justify-content-around">
                        <div class="p-inputgroup max-w-full sm:w-auto m-1">
                            <i class="p-inputgroup-addon pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($any($event).target.value, 'contains')" i18n-placeholder="Search placeholder@@TemplateComponent:seachPlaceholder" placeholder="Search keyword" />
                        </div>
                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-outlined p-button-rounded p-button-success m-1" (click)="displayCreateEventTemplateDialog = true"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="w-3rem"></th>
                        <th class="text-center" *ngFor="let col of cols" pReorderableColumn>
                            {{col.header}}
                        </th>
                        <th class="w-3rem hide-on-smallscreen"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-eventTemplate let-index="rowIndex">
                    <tr draggable="true" [pReorderableRow]="index" [class]="eventTemplate.color | colorClass">
                        <td class="cursor-move hide-on-smallscreen">
                            <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                        </td>
                        <td class="flex flex-wrap justify-content-between hide-on-bigscreen">
                            <div>
                                <button pButton pRipple [disabled]="index === 0" type="button" icon="pi pi-chevron-up" class="p-button-secondary p-button-rounded mr-2" (click)="move(index, template, -1)"></button>
                                <button pButton pRipple [disabled]="index === dt.value.length - 1" type="button" icon="pi pi-chevron-down" class="p-button-secondary p-button-rounded mr-2" (click)="move(index, template, 1)"></button>
                            </div>
                            <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" iconPos="right" (click)="deletableEventTemplate = eventTemplate"></button>
                        </td>
                        <td class="text-center" >{{ eventTemplate.name }}</td>
                        <td class="text-center" >{{ eventTemplate.eventType | eventLabel}}</td>
                        <td class="text-center w-3rem"><i class="{{ eventTemplate.icon.value }} {{ eventTemplate.icon.styleClass }}"></i></td>
                        <td class="pr-2 hide-on-smallscreen">
                            <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" iconPos="right" (click)="deletableEventTemplate = eventTemplate"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td i18n="Empty table message@@TemplateComponent:empty" class="text-center" [attr.colspan]="cols.length + 2">
                            No Event Templates found.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </ng-container>
<div>

<el-update-template-dialog [(visible)]="displayUpdateTemplateDialog"></el-update-template-dialog>
<el-delete-template-dialog [(visible)]="displayDeleteTemplateDialog"></el-delete-template-dialog>
<el-create-eventtemplate-dialog [(visible)]="displayCreateEventTemplateDialog"></el-create-eventtemplate-dialog>
<el-delete-eventtemplate-dialog [(eventTemplate)]="deletableEventTemplate"></el-delete-eventtemplate-dialog>
