:host ::ng-deep {

    .p-dialog:not(.p-dialog-maximized) .p-dialog-content {
        max-width: 100vh;
    }

    .p-dialog.p-dialog-maximized #camera {
        max-height: calc(100vh - 18.25rem);
        video {
            max-height: calc(100vh - 19.25rem);
        }
    }
    
    .p-dropdown {
        width: 100%;
    }

    p-progressspinner, #camera {
        display: grid;
    }

    #camera {
        background-color: var(--surface-c);
        max-height: calc(100vh - 25.5rem);
        border-radius: 6px;
        max-width: 100%;
        video {
            border-radius: 6px;
            z-index: 2;
            width: 100%;
            max-height: calc(100vh - 26.5rem);
        }
    }

    .p-dialog .p-dialog-footer {
        form {
            text-align: center;
        }
        button {
         width: 3rem;
         height: 3rem;
         .p-button-icon.pi {
             font-size: unset;
         }
        }
    }
}