<p-dialog *ngIf="logTemplate$ | async as logTemplate" header="Add Event Template" [maximizable]="true" [visible]="visible" (visibleChange)="close()" [modal]="true" [closeOnEscape]="true">
    <div *ngIf="eventTemplates$ | async as eventTemplates" class="pt-2">
        <form [formGroup]="form">
            <div *ngIf="eventTemplates.length">
                <p-fieldset legend="Known Event Templates">
                    <div class="grid">
                        <p-dropdown class="col-12 el-dropdown-items-p-0" [options]="eventTemplates" formControlName="selectedTemplate" [showClear]="true" (onChange)="dropdownChanged($event)" (onClear)="reset()" placeholder="Choose a known template ...">
                            <ng-template let-eventTemplate pTemplate="selectedItem">
                                <div class="flex flex-wrap align-items-center pl-2 pt-2 pb-2  {{ eventTemplate.color | colorClass }}" *ngIf="form.value.selectedTemplate">
                                    <i class="pl-2 {{ eventTemplate.icon.value }} {{ eventTemplate.icon.styleClass }}"></i>
                                    <span class="pl-2 text-overflow-anywhere">{{ eventTemplate.name }}</span>
                                    <span class="pl-2 text-overflow-anywhere font-light text-500">({{ eventTemplate.eventType | eventLabel}})</span>
                                </div>
                            </ng-template>
                            <ng-template let-eventTemplate pTemplate="item">
                                <div class="flex flex-wrap align-items-center pl-3 pr-4 py-2 {{ eventTemplate.color | colorClass }}">
                                    <i class="pl-2 {{ eventTemplate.icon.value }} {{ eventTemplate.icon.styleClass }}"></i>
                                    <span class="pl-2 text-overflow-anywhere">{{ eventTemplate.name }}</span>
                                    <span class="pl-2 text-overflow-anywhere font-light text-500">({{ eventTemplate.eventType | eventLabel}})</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <span class="col-12 flex text-center justify-content-center font-light">
                            You can either choose an event template from the known templates or create a completely new event template.
                        </span>
                    </div>
                </p-fieldset>
                <br>
            </div>
            <p-fieldset legend="Event Type">
                <p-selectButton formControlName="eventType" class="el-icon-selector flex align-items-center justify-content-center" [options]="eventTypes" (click)="setName()">
                    <ng-template let-eventType>
                        <div *ngIf="(eventType | eventLabelWithIcon) as item" class="grid w-7rem">
                            <i class="text-3xl mt-2 col {{ item.value }} {{ item.styleClass }}"></i>
                            <span class="col-12">{{ item.label }}</span>
                        </div>
                    </ng-template>
                </p-selectButton>
            </p-fieldset>
            <span class="p-float-label mt-5 field">
                <input formControlName="name" pInputText type="text" class="inputfield w-full"> 
                <label for="float-input">Event Name</label>
            </span>
            <p-fieldset legend="Event Icon" *ngIf="form.value.eventType === 0">
                <p-selectButton formControlName="icon" class="el-icon-selector flex align-items-center justify-content-center" [options]="eventIcons" optionLabel="icon">
                    <ng-template let-item>
                        <i class="{{ item.value }} {{ item.styleClass }}"></i>
                    </ng-template>
                </p-selectButton>
            </p-fieldset>
            <br>
            <p-fieldset legend="Event Color">
                <div class="flex flex-wrap justify-content-center">
                    <div pRipple *ngFor="let color of colors"
                    class="border-2 border-round m-1 p-3 cursor-pointer {{ color | colorClass }}"
                    (click)="form.value.color !== undefined && form.patchValue({ color })"
                    [ngClass]="{
                        'border-primary': color === form.getRawValue().color,
                        'border-black-alpha-50': color !== form.getRawValue().color && color === '',
                        'border-black-alpha-10': color !== form.getRawValue().color && color !== '',
                        'pointer-events-none': form.value.color === undefined
                    }">
                </div>
            </div>
        </p-fieldset>            
        </form>
    </div>
    <ng-template pTemplate="footer">
        <form [formGroup]="form" (ngSubmit)="submit(logTemplate)">
            <button pButton pRipple type="submit" [disabled]="form.invalid" icon="pi pi-check" label="Add" class="p-button-success  p-button-text"></button>
        </form>
    </ng-template>
</p-dialog>