/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/mdc-dark-indigo/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    background: linear-gradient(0, var(--surface-ground), var(--primary-color));
    background-attachment: fixed;
    color: var(--text-color);
    
    el-root {
        display: grid;
    }
}

i.el-invisible {
    opacity: 0;
}

i.el-icon-w16 {
    width: 16px;
}

.text-overflow-anywhere {
    overflow-wrap: anywhere;
    word-wrap: anywhere;
    word-break: break-all;
}

.p-component-overlay {
    backdrop-filter: blur(0.5rem);
}

.p-panel-content {
    .p-datatable .p-datatable-header {
        padding: 1rem 0 0 0;
    }
}

@media screen and (min-width: 576px) {
    .sm\:col {
        flex-grow: 1;
        flex-basis: 0;
        padding: 0.5rem;
        width: unset;
    }
    .sm\:col-fixed {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: unset;
    }
}