/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    background-attachment: fixed;
    color: var(--text-color);
    
    el-root {
        display: grid;
    }
}

.p-dialog:not(.p-dialog-maximized) {
    border-width: 1px;
    border-color: var(--primary-color);
    border-style: solid;
    margin: 0.75rem;
}

.p-dialog-maximized .p-dialog-header, .p-dialog-footer {
    border-radius: 0;
}

.p-dialog-header, .p-dialog-footer {
    background: var(--surface-b) !important;
}
.p-dialog-footer {
    padding: 0.75rem 1.25rem !important;
}

i.el-invisible {
    opacity: 0;
}

i.el-icon-w16 {
    width: 16px;
}

.text-overflow-anywhere {
    overflow-wrap: anywhere;
    word-wrap: anywhere;
    word-break: break-all;
}

.p-component-overlay {
    backdrop-filter: blur(0.5rem);
}


.p-panel-content {
    padding: 0.75rem !important;
    .p-datatable .p-datatable-header {
        padding: 1rem 0.5rem 0 0.5rem;
    }
}

@media screen and (max-width: 960px) {
    .p-datatable .p-datatable-tbody > tr > td:first-child {
        padding: 0.5rem !important;
    }
    .p-datatable .p-datatable-tbody > tr > td:not(:first-child) {
        justify-content: center !important;
    }
}

@media screen and (min-width: 576px) {
    .sm\:col {
        flex-grow: 1;
        flex-basis: 0;
        padding: 0.5rem;
        width: unset;
    }
    .sm\:col-fixed {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: unset;
    }
}