<p-panel header="App Information">
    <div class="p-inputgroup col-12 pt-0 pl-0 pr-0">
        <span class="p-inputgroup-addon">Name</span>
        <input type="text" pInputText [disabled]="true" value="eLogger" />
    </div>
    <div class="p-inputgroup col-12 pt-0 pl-0 pr-0">
        <span class="p-inputgroup-addon">Version</span>
        <input type="text" pInputText [disabled]="true" [value]="version" />
    </div>
    <div class="p-inputgroup col-12 pt-0 pl-0 pr-0">
        <span class="p-inputgroup-addon">Branch</span>
        <input type="text" pInputText [disabled]="true" [value]="branch" />
    </div>
    <div class="p-inputgroup col-12 pt-0 pl-0 pr-0">
        <span class="p-inputgroup-addon">Commit</span>
        <input type="text" pInputText [disabled]="true" [value]="commit" />
    </div>
    <div class="p-inputgroup col-12 pt-0 pl-0 pr-0">
        <span class="p-inputgroup-addon ">Developer</span>
        <input type="text" pInputText [disabled]="true" class="white-space-normal" value="Robert Weiße" />
    </div>
    <div class="p-inputgroup col-12 pt-0 pl-0 pr-0 text-overflow-anywhere">
        <span class="p-inputgroup-addon">Contact</span>
        <a type="text" pInputText href="https://github.com/openbcl/eLogger/issues">https://github.com/openbcl/eLogger/issues</a>
    </div>
    <h4>ABOUT</h4>
    <p>
        eLogger is an open source progressive web app (PWA).
        The app itself is hosted on GitHub.
        It can either be run in popular browsers or be exported to home screen of mobile devices via Safari (iOS) or Chrome (Android) browser apps.
    </p>
    <p>
        There is no backend. Therefore, no data is exchanged. All data remains on the user's own device.
        This app has no commercial purposes. The use is private.
    </p>

    <h4>DISCLAIMER</h4>
    <span class="uppercase">
        We make no warranty of any kind, express, implied, in fact or arising by
        operation of law, including, without limitation, the implied warranty of
        merchantability, fitness for a particular purpose, non-infringement and
        data accuracy. We neither represents nor warrants that the operation of
        the software will be uninterrupted or error-free, or that any defects
        will be corrected. We do not warrant or make any representations regarding
        the use of the software or the results thereof, including but not limited
        to the correctness, accuracy, reliability, or usefulness of the software.
    </span>
</p-panel>
